<div id="container-questionnaire">

    <hr>
    
	<h1 style="margin-left:10%;margin-right:10%;"> Instructions </h1>

	 <p> On the next page you are going to see an example of a "blicket". We are then going to present you with some other objects, and it is your job to say whether or not you think they are blickets by pressing "Y" for yes or "N" for no.
    </p>

    <hr>
    
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
