<!DOCTYPE html>
<html>


<head>
	<title>Experiment</title>
	<meta charset="UTF-8">

</head>

<body>
<br>
<br>
<br>
<br>
<br>



<center><h3 id="instruct_test" name="instruct_test" style="width:150px;height:160px;text-align:center;display:none;" ><p>You will now have to guess the number of X's on the screen...</p></h3>
</center>

<center><canvas id="myCanvas" width="1000" height="500" style="border:1px solid #ffffff;">
</canvas> </center>

<center><h4 id="spc_remind" name="spc_remind" style="width:50px;height:50px;text-align:center;display:none;" ><p>Press space when ready.</p></h4>
</center>

<center><input id="box" type="text" name="input" style="display:none;"></input></center>



</body>
</html>
