<div id="container-instructions">



    <hr>
    <p> In this experiment, you are going to see a novel object called a "blicket" and be asked to categorize other objects as blickets or not. Some objects are blickets and others are not, and the features you can see (color, shape, size, stripeness, girth) determine what a blicket is. It's your job to figure out what features make a blicket a blicket.

    We ask that you give your full attention to the task while participating. 
    </p>
    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
