<div id="container-instructions">


    <h1> INSTRUCTIONS *please read* </h1>

    <hr>
    <p> There are three stages in this experiment. In each part, there will be a number of X's on the screen, and it is your job to determine how many there are. In the first stage, you will see X's on the screen only for a short period of time, and then you will guess how many you saw. In the second part, you will be given unlimited time and need to count how many you see. 

    In the final stage, you will be given a three minute window to do as many trials as you like, with a chance to earn bonus rewards. On each individual trial, you may spend as much time counting X's as you like -- but you will get a bonus on that trial only if you are correct.

    </p>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
